<div id="<%= dom_id multitude %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= multitude.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= multitude.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Banner:</strong>
    <%= multitude.banner %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Icon:</strong>
    <%= multitude.icon %>
  </p>

</div>
