<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "app" %> | Ruby On Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <%= csrf_meta_tags %> <%= csp_meta_tag %> <%= yield :head %>

    <link rel="manifest" href="/manifest.json" />
    <link
      rel="icon"
      href="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ruby_logo.png"
      type="image/png"
    />
    <link
      rel="icon"
      href="https://upload.wikimedia.org/wikipedia/commons/f/f1/Ruby_logo.png"
    />
    <link rel="apple-touch-icon" href="/icon.png" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track":
    "reload" %> <%= stylesheet_link_tag "application", "data-turbo-track":
    "reload" %> <%= javascript_importmap_tags %> 
  </head>

  <body>
    <header
      class="bg-gray-950 text-white flex justify-between p-5 items-center"
    >
      <a href="/">
        <h1 class="text-xl font-semibold">Home</h1>
      </a>
      <nav class="flex gap-5 items-center">
        <%= link_to "Users", users_path %> <%= link_to "Posts", posts_path %>
        <%= link_to "add new post", new_post_path %>
        <button class="bg-white text-gray-950 py-1 px-4">Sing up</button>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
